<nav class="flex flex-col ml-10  w-3/4 border-2 border-white">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, quaerat
  non, deleniti quae hic reprehenderit rerum maxime, quibusdam labore saepe sunt
  nostrum. Temporibus cumque dolore tenetur unde asperiores iste. Illum.
</nav>

