---
import DataCard from '../components/DataCard.astro';
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<!-- <html lang="en" class="absolute bg-light dark:bg-stone-950 dark:text-white"  > -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class="flex bg-special h-screen justify-center ">
			<div class="flex-col w-2/3">
				<div class="h-12 ">
					<h1 class="text-6xl font-bold bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-transparent text-center">Welcome</h1>
				</div>
				<div class=" mt-8 h-20 flex border-2 rounded-2xl bg-white ">
	
				</div>
			</div>
		</div>
	</body>
</html>
<style is:global>




.bg-special{
background-color: #000000;
/* background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png"); */
/* background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png"); */
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}


/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

	/* html{
		background-color: #1f1f1f;
	} */
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
